.auth {
    h1 {
        font-family: var(--font-inter);
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: center;
        color: #020203;
        padding: 36px 0 30px 0;
        margin: 0;
    }
    h2 {
        color: #020203;
        text-align: center;
        font-family: var(--font-inter);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        margin: 0;
        &::after {
            content: "";
            border-top: 1px solid #020203;
            width: 112px;
            display: block;
            margin-top: 8px;
            margin-left: 8px;
        }
        &::before {
            content: "";
            border-top: 1px solid #020203;
            width: 112px;
            display: block;
            margin-top: 8px;
            margin-right: 8px;
        }
    }
    button {
        border-radius: 8px;
        border: none;
        background: #7f4a87;
        width: 350px;
        padding: 14px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f7f5fa;
        font-family: var(--font-inter);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        cursor: pointer;
    }
    .sign-up {
        background: transparent;
        width: max-content;
        color: #020203;
        font-size: 13px;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #020203;
        border-radius: 0;
        margin-left: 3px;
    }
    .google {
        &::before {
            content: "";
            display: inline-block;
            background: url("../assets/img/google.svg");
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
    }
    .block {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 0 36px;
        p {
            color: #020203;
            font-family: var(--font-inter);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            margin: 0;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        label {
            color: #020203;
            font-family: var(--font-inter);
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 18px;
            margin-bottom: 8px;
        }
        input {
            border-radius: 8px;
            border: 1px solid #d0dbbd;
            background: #fff;
            padding: 14px 16px;
            outline: none;
            font-family: var(--font-inter);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            &::placeholder {
                font-family: var(--font-inter);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                color: #787878;
            }
        }
        .form-group {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-bottom: 24px;
            &.error {
                span {
                    color: red;
                }
                input {
                    border: 1px solid red;
                }
            }
            &.distance {
                padding-bottom: 46px;
            }
        }
        .password-toggle {
            background: url("../assets/img/visible.svg");
            display: block;
            position: absolute;
            top: 39px;
            right: 16px;
            width: 16px;
            height: 16px;
            .password-show {
                border-top: 1px solid black;
                width: 16px;
                transform: rotate(45deg);
                display: block;
                margin-top: 7px;
            }
        }
    }
}
